//colors
$color_yellow_sea_approx: #ffab00;
$color_bright_sun_approx: #ffd740;
$white: #fff;
$color_purple_heart_75_approx: rgba(0, 105, 92, .8);
$color_fuchsia_blue_approx: #7e57c2;
$black_35: rgba(0,0,0,0.35);
$color_pink_swan_approx: #b8b8b8;
$black_25: rgba(0,0,0,0.25);
$black_10: rgba(0,0,0,0.1);
$color_purple_heart_approx: #673ab7;
$color_chicago_approx: #575757;
$color_alto_approx: #dadada;
$color_dove_gray_approx: #727272;
$color_woodsmoke_approx: #111;
$black_50: rgba(0,0,0,0.50);

//fonts
$roboto: Roboto;
$bitter: 'Bitter';
$serif: serif;
$sans_serif: sans-serif;

//type scale
$scale: 1.5;
$base_size: 16;
$base_size_mobile: 8;
$h1_size: 5.063;
$h2_size: 2.25;
$h3_size: 1.5;
$p_size: 1;

//urls
$background_url: url(../images/background.jpg);
$code: url(../images/code.png);
$url_0: url(../images/flappy.png);
$url_1: url(../images/bttt.png);
$url_2: url(../images/nim.png);


html {
    font-size: #{$base_size}px;
}

body {
    background: $white !important;
    font-family: $roboto, $sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #fff;
    font-size: #{$base_size};
}

h1 {
    display: block;
    padding: 0.25em 0 0.125em 0;
    margin: 0 !important;
    color: $white;
    text-align: center;
    font-size: #{$h1_size}em;
    font-weight: 700;
}

h2 {
    padding: 1rem 0 0.25rem 0;
    font-weight: 300;
    text-align: center;
    font-size: #{$h2_size}em;
}

h3 {
    font-weight: 700;
    font-size: #{$h3_size}rem;
}

header {
    background-image: $background_url;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    text-align: center;

    #backgroundScrim {
        background: $color_purple_heart_75_approx;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #name {
        display: inline-block;
        height: 100%;
        position: relative;

        .vert-centered {
            width: 100%;
        }

        #bio {
            font-family: $bitter, $serif !important;
            color: $white;
            text-align: justify;
            margin: 0 auto;
            font-size: #{$h2_size}em;
            max-width: #{(15*$h2_size)*$base_size}px;

            p {
                padding: 0;
                margin: 0
            }

            a {
                font-weight: 700;
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $color_yellow_sea_approx;
                    text-decoration: none;
                }

            }

        }

    }
}

#featured {
    background: $color_fuchsia_blue_approx;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0 3px 5px 0 $black_35;
    font-size: #{$h2_size}em;

    a {
        font-weight: 700;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $color_yellow_sea_approx;
            text-decoration: none;
        }

    }

    >.row {
        margin: 0;
    }

    #social>a, #blog, #contact {
        padding: 1.5rem 0.5rem;
    }

    #github>span {
        float: right;
    }

    #linkedin>span {
        float: left;
    }

    #blog {
        background: $code;
        background-attachment: fixed;
        background-size: contain;
        text-align: center;
    }

    #contact {
        text-align: center;
    }

}

#instafeed {
    img {
        margin: 18px auto;
    }
}

#vid1 {
    overflow: hidden;
    position: relative;
    height: 200px;

    video {
        width: 100%;
        position: absolute;
        top: -46%;
    }

}

#pic1 {
    background-image: $url_0;
    background-position: center center;
    display: none;

    > .scrim {
        background: $black_50;
    }

}

#pic2 {
    background-image: $url_1;
    background-position: center top;

    > .scrim {
        background: $black_50;
    }

}

#pic3 {
    background-image: $url_2;
    background-position: center center;
    
    > .scrim {
        background: $black_50;
    }

}

.projects {
    padding: 1rem 15px;
    margin: 0 auto;
    
    h2 {
        margin: 1rem auto 0.83rem;
        animation: h2_fadeIn 0.6s ease-in;
        color: $color_woodsmoke_approx;
    }

}

@-webkit-keyframes h2_fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes h2_fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes h2_fadeIn {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    50% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

footer {
    text-align: center;

    a {
        font-family: $roboto;
        padding: 16px;
        font-size: 16px;
        color: $color_dove_gray_approx;
        text-transform: uppercase;

        &:hover {
            color: $color_woodsmoke_approx;
            text-decoration: none;
        }
    }
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vert-centered {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

@media(max-width: 768px) {

    header {
        font-size: #{$base_size_mobile}px !important;

        #bio {
            padding: 0 10vw;
        }

    }

    #github, #linkedin {
        text-align: center;
    }

    #github>span, #linkedin>span {
        float: none !important;
    }

    #blog {
        background-size: cover !important;
    }

    #vid1 {
        display: none;
    }

    #pic1 {
        display: block;
    }

    .play a {

        &:last-of-type {
            display: none;
        }

        &:nth-of-type(2) {
            color: $color_yellow_sea_approx;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
                color: $color_bright_sun_approx;
                text-decoration: none;
            }

        }

    }

}